/* Universal Styles */

html {
  font-size: 18px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: grid;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #D94D1A;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.Search-Bg {
  background-image: url('./bamboo50.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}
