.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  margin: 0 .5rem 2.3rem .5rem;
  background-color: #ffffff;opacity: 0.8;
  transition: 0.5s;
}

.Business h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.Business-information {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Business-information p {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: left;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #D94D1A;
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: .9rem;
  line-height: 1rem;
}

.Business:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer; 
}

.Business .image-container .img {
  height: 17rem;
}
