.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  margin: 0 .5rem 2.3rem .5rem;
  background-color: #ffffff;opacity: 0.8;
  transition: 0.5s;
  
}

.Business h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.Business h4 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #D94D1A;
  margin: 5px 0;
  text-decoration: #D94D1A underline;
}

.Business-information {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Business-information p {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1rem;
  margin: 10px 0;

}

.Business-address {
  display: grid;
  /* flex-direction: column;
  justify-content: space-between; */
  place-items: center left;
  text-align: left;
  margin: 0;

}

.Business-reviews {
  display: grid;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  text-align: left;
  place-items: center right;
}

.Business-reviews h3 {
  color: #D94D1A;
  font-weight: 600;
  text-align: right;
  margin: 0;
}

.Business-reviews .rating {
  font-size: .9rem;
  line-height: 1rem;
  text-align: right;
}

.Business:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}

.Business .image-container .img {
  height: 17rem;
}
